<header class="fixed-top">
  <app-icon-nav></app-icon-nav>
  <app-header></app-header>
</header>

<main [ngClass]="{'close-aside': !open}">

  <div class="shadow position-fixed">
  </div>

  <aside>
    <div class="scroller">
      <!-- <ng-content select="app-navbar"></ng-content> -->
      <app-navbar></app-navbar>
    </div>
  </aside>

  <div class="page">

    <div class="contents">
      <h1>APP DEMO</h1>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <!-- <button type="button" class="btn btn-info" (click)="switch()">Switch</button> -->
      <!-- <ng-content select=".content"></ng-content> -->
    </div>

    <footer>
      <ng-content select="app-footer"></ng-content>
    </footer>

  </div>
</main>

