<header class="fixed-top">
  <app-icon-nav (click)="switch()"></app-icon-nav>
  <app-header></app-header>
  <app-icon-login (click)="login()"></app-icon-login>
</header>

<main [ngClass]="{'close-aside': !open}">

  <div class="shadow position-fixed">
  </div>

  <aside>
    <div class="scroller">
      <app-navbar></app-navbar>
    </div>
  </aside>

  <div class="page">

    <div class="contents">
      <h1>APP DEMO</h1>
      <h2>{{ description }}</h2>
      <!-- <button type="button" class="btn btn-info" (click)="updateTitre()">UpdateTitre</button> -->
    </div>

    <footer>
      <ng-content select="app-footer"></ng-content>
    </footer>

  </div>
</main>

